.details_info_container {
    margin-top:40px;
}

.details_info_container > main{
    height:700px;
}
/*디지몬 진화 루트 선택*/
.digimon_evo_root_wrap {
    width: calc(50% - 2px);
    display: inline-block;
    height: 100%;
    border: 1px solid black;
    float: left;
}
.digimon_evo_root_wrap > .digimon_evo_root {
    width:100%;
    height:100%;
    overflow-y:scroll;
    overflow-x:hidden;
}

.digimon_evo_root_wrap > .digimon_evo_root > .column{
    width:100%;
    height:auto;
    display:flex;
    justify-content:space-evenly;
    padding:10px 0;
    margin:5px 0;
}

.digimon_evo_root_wrap > .digimon_evo_root > .column:hover{
    background:#ccc;
    cursor:pointer;
}

.digimon_evo_root_wrap > .digimon_evo_root > .column > figure{
    width:17%;
    height:80px;
}

.digimon_evo_root_wrap > .digimon_evo_root > .column > figure > img{
    width:100%;
    height:100%;
    border:1px solid black;
}

/*디지몬 상세정보*/
.digimon_details_info {
    width: calc(50% - 2px);
    display: inline-block;
    height: 100%;
    border: 1px solid black;
}

.digimon_details_info > figure > .digimon_ingame_img {
    width:40%;
    height:300px;
    border: 1px solid black;
    float:left;
}

.digimon_details_info > figure > .digimon_status_wrap {
    width: 50%;
    height: 300px;
    border:1px solid black;
    float:left;
    margin-left:9%;
}