main{
    width:75%;
    height: auto;
}

.digimon_wrap {
    margin-top:45px;
    width:100%;
}

.digimon_wrap > .menu_group_wrap {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.digimon_wrap > .menu_group_wrap > .search_board_wrap {
    width:100%;
    height: 40px;
    text-align: center;
    margin: 15px 0;
    position:relative;
}

.digimon_wrap > .menu_group_wrap > .search_board_wrap > .search_board{
    width: 40%;
    height: 40px;
    padding:5px;
    margin: 0 auto;
    font-size:16px;
    vertical-align: text-bottom;
}

.digimon_wrap > .menu_group_wrap > .search_board_wrap > .search_button{
    width:40px;
    height: 40px;
    vertical-align: text-bottom;
    position:absolute;
    right: 30%;
    background-color:rgba(153, 153, 153, 0.4);
    border:0;
    outline: 0;
}

.digimon_wrap > .menu_group_wrap > .search_board_wrap > .search_button:hover{
    background-color:rgba(153, 153, 153, 0.8);
    outline: 0;
}

.digimon_wrap > .menu_group_wrap > .search_board_wrap > .advanced_menu_button{
    position:absolute;
    width:40px;
    height:40px;
    right:15px;
}


/*검색옵션 선택 탭*/
.digimon_wrap > .menu_group_wrap > .advanced_menu_group{
    visibility: hidden;
    width:100%;
    height:0px;
    transition: all 0.2s;
    overflow: hidden;
}

.advanced_menu_group_toggle{
    height:350px !important;
    visibility: visible !important;
}

/*.digimon_wrap > .menu_group_wrap > .advanced_menu_group > .title{
    width:20%;
    height: 13%;
    margin: 0 auto;
    border-width:0px 1px 1px;
    border-color: brown transparent ;
    border-style:solid;
}

.digimon_wrap > .menu_group_wrap > .advanced_menu_group > .title > h3{
    width:100%;
    height:100%;
    font-size: 20px;
    text-align: center;
}*/

.digimon_wrap > .menu_group_wrap > .advanced_menu_group > ul {
    border-top:1px solid #ccc;
    width:100%;
    height:75%;
}

.digimon_wrap > .menu_group_wrap > .advanced_menu_group > ul > li {
    width:100%;
    height:25%;
    display: flex;
    border-bottom:1px solid #ccc;
}

.digimon_wrap > .menu_group_wrap > .advanced_menu_group > ul > li > h5 {
    width:10%;
    font-size:15px;
    align-items: center;
    display: flex;
    padding-left:15px;
    background: rgba(226, 226, 226,0.3);
}

.digimon_wrap > .menu_group_wrap > .advanced_menu_group > ul > li > ul {
    width:100%;
    height: 85%;
    display:inline-flex;
    align-items: center;
}

.digimon_wrap > .menu_group_wrap > .advanced_menu_group > ul > li > ul > li {
    width: 14%;
    text-align: center;
    border-right: 1px solid #ccc;
}

.digimon_wrap > .menu_group_wrap > .advanced_menu_group > ul > li > ul > li:last-child  {
    border-right: none;
}

.digimon_wrap > .menu_group_wrap > .advanced_menu_group > ul > li > .level_check_wrap > li:last-child  {
    width:25%;
    text-align: center;
}

.digimon_wrap > .menu_group_wrap > .advanced_menu_group > ul > li > ul > li > label {
    -ms-user-select: none;
    -moz-user-select: none;
    -ms-touch-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.digimon_wrap > .menu_group_wrap > .advanced_menu_group > ul > li > ul > li > label > span {
    vertical-align: text-bottom;
}

.digimon_wrap > .menu_group_wrap > .advanced_menu_group > ul > li > ul > li > label > input[type="text"] {
    width:30px;
}

.digimon_wrap > .menu_group_wrap > .advanced_menu_group > .check_search_button_wrap {
    width:100%;
    height: -moz-calc(15% - 5px);
    height: -webkit-calc(15% - 5px);
    height: calc(15% - 5px);
    text-align: center;
    margin:2% 0;
}
.digimon_wrap > .menu_group_wrap > .advanced_menu_group > .check_search_button_wrap > button{
    width:100px;
    height: 100%;
}

/* 디지몬 리스트 */
.digimon_list_wrap{
    margin-top:30px;
    width:100%;
    height:auto;
    border-top:1px solid black;
}

.digimon_list_wrap > ul{
    width: 100%;
    height:330px;
}

.digimon_list_wrap > ul > li:first-of-type{
    background-color: rgba(206, 206, 206, 0.4);
}

.digimon_list_wrap > ul > li{
    width:100%;
    height:5%;
    padding:5px 0;
    border-bottom:1px solid #ccc;
}

.digimon_list_wrap > ul > li > ul{
    display: flex;
    width: 100%;
    height: 100%;
}

.digimon_list_wrap > ul > li:first-of-type > ul > li{
    width:25%;
    height: 100%;
    text-align: center;
    font-size:16px;
    font-weight: bold;
}

.digimon_list_wrap > ul > li:not(:first-of-type) > ul > li{
    width:25%;
    height: 100%;
    text-align: center;
    font-size:14px;
}

.paging_wrap{
    width:100%;
    height:auto; 
    margin-top:40px;
}

.paging_wrap > ul{
    display:flex;
    align-items: center;
    justify-content: center;
}

.paging_wrap > ul > li {
    width:16px;
    height: 16px;
}

.paging_wrap > ul > li > a{
    font-size:14px;
}