main{
    width:75%;
    height: auto;
}

.digimons_wrap {
    margin-top:45px;
    width:100%;
}

.digimons_wrap > .menu_group_wrap {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.digimons_wrap > .menu_group_wrap > .menu_group{
    position:relative;
}


/*카드 및 아이템 탭*/
.digimons_wrap > .menu_group_wrap > .menu_group > .tabs_wrap{
    width:100%;
    height:50px;
    
}

.digimons_wrap > .menu_group_wrap > .menu_group > .tabs_wrap > .tab{
    display:flex;
    width:100%;
    height:100%;
    align-items:flex-end;
}

.digimons_wrap > .menu_group_wrap > .menu_group > .tabs_wrap > .tab > li:not(:last-of-type) {
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-width: 2px 2px 0px;
    border-style:solid;
    border-color:#ccc;
    font-weight:bold;
}

.digimons_wrap > .menu_group_wrap > .menu_group > .tabs_wrap > .tab > li:not(:last-of-type) {
    width:180px;
    height:70%;
    padding:5px;
    font-size:20px;
    align-items:flex-end;
    text-align:center;
    cursor:pointer;
}

.digimons_wrap > .menu_group_wrap > .menu_group > .tabs_wrap > .tab > li:last-of-type {
    width: 90%;
    height: 70%;
}
.digimons_wrap > .menu_group_wrap > .menu_group > .tabs_wrap > .tab > .tab_not_select {
    border:0 !important;
    border-bottom: 2px solid #ccc !important;
    height:50% !important;
    font-size:16px !important;
}

/*검색옵션 리셋 버튼*/

.digimons_wrap > .menu_group_wrap > .menu_group > .reset_button {
    width: 40px;
    height: 40px;
    position:absolute;
    right:2px;
    top:0px;
}


/*검색옵션 선택 탭*/
.digimons_wrap > .menu_group_wrap > .menu_group{
    width:100%;
    height:auto;
    transition: all 0.2s;
    overflow: hidden;
}

/*검색 옵션*/
.digimons_wrap > .menu_group_wrap > .menu_group > ul {
    width:-webkit-calc(100%-2px);
    width:calc(100%-2px);
    height:auto;
    border-width: 0 2px 0px 2px;
    border-style:solid;
    border-color:#ccc;
}

.digimons_wrap > .menu_group_wrap > .menu_group > ul > li {
    width:100%;
    height: auto;
    display: flex;
    border-bottom:1px solid #ccc;
}

.digimons_wrap > .menu_group_wrap > .menu_group > ul > li:last-of-type{
    border-bottom:none;
}

.digimons_wrap > .menu_group_wrap > .menu_group > ul > li > .filter_title  {
    align-items: center;
    display: flex;
    background: rgba(226, 226, 226,0.3);
}

.digimons_wrap > .menu_group_wrap > .menu_group > ul > li > .filter_title  > h5{
    width:115px;
    padding-left:15px;
    font-size:16px;
    font-weight:600;
}


/*파트너 필터 (자바스크립트 부분 css)*/
.digimons_wrap > .menu_group_wrap > .menu_group > ul > li > .partner_filter {
    padding-top:3px;
    width:100%;
    height: 100%;
    display:inline-flex;
    flex-wrap:wrap;
    align-items: center;
}

.digimons_wrap > .menu_group_wrap > .menu_group > ul > li > .partner_filter > li {
    width: 16.53%;
    border-right: 1px solid #ccc;
    text-align:center;
}

.digimons_wrap > .menu_group_wrap > .menu_group > ul > li > .partner_filter > li > label {
    display:block;
    margin:0 auto;
    width:70px;
}

.digimons_wrap > .menu_group_wrap > .menu_group > ul > li > .partner_filter > hr {
    width: 100%;
    margin:3px 0;
    border:none;
}

.digimons_wrap > .menu_group_wrap > .menu_group > ul > li > .partner_filter > li:nth-of-type(6n) {
    border-right: none;
}

.digimons_wrap > .menu_group_wrap > .menu_group > ul > li > .partner_filter > li >  span:hover {
    color: rgba(30, 73, 94, 0.90);
    cursor:pointer;
    font-weight:bold;
}

.digimons_wrap > .menu_group_wrap > .menu_group > ul > li > .partner_filter > li > label > p {
    width:52px;
    text-align:justify;
    text-align-last:justify;
    display:inline-block;
    height:16px;
    overflow:hidden;
    user-select:none;
}
.digimons_wrap > .menu_group_wrap > .menu_group > ul > li > .partner_filter > li > label > p:after {
    content:"";
    display:inline-block;
    width:100%;
}

/* 파트너 검색옵션 특성부분 css덮어쓰기*/
#column4 > .char_filter_title > h5 {
    width: 70px;
}
.digimons_wrap > .menu_group_wrap > .menu_group > ul > li > .char {
    width: 100%;
    height: auto;
    display: block;
    padding: 0px;
}

.digimons_wrap > .menu_group_wrap > .menu_group > ul > li > .char > li {
    width:100%;
    display:flex;
}

.digimons_wrap > .menu_group_wrap > .menu_group > ul > li > .char > hr {
    width:100%;
    height:0.7px;
    background: #ccc;
    margin:0;
}

.digimons_wrap > .menu_group_wrap > .menu_group > ul > li > .char > li > h6 {
    background-color:#cee7ff82;
    width:45px;
    font-size: 16px;
    font-weight: 600;
    justify-content:center;
    align-items:center;
    display: flex;
}

.digimons_wrap > .menu_group_wrap > .menu_group > ul > li > .char > li > ul{
    width:calc( 100% - 45px);
    width:-moz-calc( 100% - 45px);
    width:-webkit-calc( 100% - 45px);
    height: 100%;
    display:inline-flex;
    flex-wrap:wrap;
    align-items: center;
}

.digimons_wrap > .menu_group_wrap > .menu_group > ul > li > .char > li > ul > hr{
    width:100%;
    border:none;
    margin:3px 0;
}

.digimons_wrap > .menu_group_wrap > .menu_group > ul > li > .char > li > ul > li{
    width:16.53%;
    border-right:1px solid #ccc;
    text-align:center;
}

.digimons_wrap > .menu_group_wrap > .menu_group > ul > li > .char > li > ul > li:nth-of-type(6n) {
    border-right: none;
}

.digimons_wrap > .menu_group_wrap > .menu_group > ul > li > .char > li > ul > li > label{
    display:block;
    width:70px;
    margin:0 auto;
}

.digimons_wrap > .menu_group_wrap > .menu_group > ul > li > .char > li > ul > li > label > p {
    width:52px;
    text-align:justify;
    text-align-last:justify;
    display:inline-block;
    height:16px;
    overflow:hidden;
    user-select:none;
}
.digimons_wrap > .menu_group_wrap > .menu_group > ul > li > .char > li > ul > li > label > p:after {
    content:"";
    display:inline-block;
    width:100%;
}


/* 적군 필터 (자바스크립트 부분css)*/
.digimons_wrap > .menu_group_wrap > .menu_group > ul > li > enemy_filter {
    padding-top: 3px;
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
}

.digimons_wrap > .menu_group_wrap > .menu_group > ul > li > .enemy_filter > li {
    width: 100 %;
    border-right: 1px solid #ccc;
    text-align:center;
}

.digimons_wrap > .menu_group_wrap > .menu_group > ul > li > .enemy_filter > li > label {
    display:block;
    margin:0 auto;
}

.digimons_wrap > .menu_group_wrap > .menu_group > ul > li > .enemy_filter > hr {
    width: 100%;
    margin:3px 0;
    border:none;
}

.digimons_wrap > .menu_group_wrap > .menu_group > ul > li > .enemy_filter > li:nth-of-type(6n) {
    border-right: none;
}

.digimons_wrap > .menu_group_wrap > .menu_group > ul > li > .enemy_filter > li >  span:hover {
    color: rgba(30, 73, 94, 0.90);
    cursor:pointer;
    font-weight:bold;
}

.digimons_wrap > .menu_group_wrap > .menu_group > ul > li > .enemy_filter > li > label > p {
    width:52px;
    text-align:justify;
    text-align-last:justify;
    display:inline-block;
    height:16px;
    overflow:hidden;
    user-select:none;
}
.digimons_wrap > .menu_group_wrap > .menu_group > ul > li > .enemy_filter > li > label > p:after {
    content:"";
    display:inline-block;
    width:100%;
}



/*검색창*/

.digimons_wrap > .menu_group_wrap > .menu_group > .white_space{
    width:49%;
    height:50px;
    float:left;
    border-top:2px solid #ccc;
}

.digimons_wrap > .menu_group_wrap > .menu_group > .search_board_wrap {
    width:50%;
    height: 40px;
    padding:3px 0 3px;
    padding:3px 0 3px;
    padding-right: -webkit-calc(1% - 4px);
    padding-right: calc(1% - 4px);
    text-align: right;
    position:relative;
    float:left;
    border-width: 0 2px 2px 2px;
    border-style:solid;
    border-color:#ccc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


.digimons_wrap > .menu_group_wrap > .menu_group > .search_board_wrap > .search_options{
    width:20%;
    height: 40px;
    padding:5px;
    vertical-align: text-bottom;
    font-size:16px;
}

.digimons_wrap > .menu_group_wrap > .menu_group > .search_board_wrap > .search_board{
    width: 98.5%;
    height: 40px;
    padding:5px;
    padding-left:10px;
    padding-right:14%;
    margin: 0 auto;
    font-size:16px;
    vertical-align: text-bottom;
    border-radius: 3px;
    border-width: thin;
}

.digimons_wrap > .menu_group_wrap > .menu_group > .search_board_wrap > .search_button{
    width:60px;
    height: 40px;
    vertical-align: text-bottom;
    position:absolute;
    right: 1%;
    background-color:rgba(153, 153, 153, 0.4);
    border:0;
    outline: 0;
}

.digimons_wrap > .menu_group_wrap > .menu_group > .search_board_wrap > .search_button:hover{
    background-color:rgba(153, 153, 153, 0.5);
    outline: 0;
    cursor: pointer;
}


/*파트너 디지몬 리스트*/
.partner_digimon_list_wrap > .partner_info {
    margin: 10px;
    padding-top:5px;
    display:inline-block;
    width:15%;
    height:140px;
}

.partner_digimon_list_wrap > .partner_info:hover {
    cursor:pointer;
    background:#ccc;
}

.partner_digimon_list_wrap > .partner_info > img{
    margin:0 auto;
    display:block;
}

.partner_digimon_list_wrap > .partner_info > strong{
    width:100%;
    text-align:center;
    display:block;
}

.partner_digimon_list_wrap > .partner_info > i{
    width:100%;
    text-align:center;
    display:block;
}
/* 적군 디지몬 리스트 */
    .digimon_list_wrap {
    margin-top: 30px;
    width: 100%;
    height: auto;
    border-top: 1px solid black;
}

.digimon_list_wrap > ul{
    width: 100%;
    height:330px;
}

.digimon_list_wrap > ul > li:first-of-type{
    background-color: rgba(206, 206, 206, 0.4);
}

.digimon_list_wrap > ul > li{
    width:100%;
    height:5%;
    padding:5px 0;
    border-bottom:1px solid #ccc;
}

.digimon_list_wrap > ul > li > ul{
    display: flex;
    width: 100%;
    height: 100%;
}

.digimon_list_wrap > ul > li:first-of-type > ul > li{
    width:25%;
    height: 100%;
    text-align: center;
    font-size:16px;
    font-weight: bold;
}

.digimon_list_wrap > ul > li:not(:first-of-type) > ul > li{
    width:25%;
    height: 100%;
    text-align: center;
    font-size:14px;
}

.paging_wrap{
    width:100%;
    height:auto; 
    margin-top:40px;
}

.paging_wrap > ul{
    display:flex;
    align-items: center;
    justify-content: center;
}

.paging_wrap > ul > li {
    width:16px;
    height: 16px;
}

.paging_wrap > ul > li > a{
    font-size:14px;
}