main{
    width:75%;
    height: auto;
}

.items_wrap {
    margin-top:45px;
    width:100%;
}

.items_wrap > .menu_group_wrap {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.items_wrap > .menu_group_wrap > .menu_group{
    position:relative;
}


/*카드 및 아이템 탭*/
.items_wrap > .menu_group_wrap > .menu_group > .tabs_wrap{
    width:100%;
    height:50px;
    
}

.items_wrap > .menu_group_wrap > .menu_group > .tabs_wrap > .tab{
    display:flex;
    width:100%;
    height:100%;
    align-items:flex-end;
}

.items_wrap > .menu_group_wrap > .menu_group > .tabs_wrap > .tab > li:not(:last-of-type) {
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-width: 2px 2px 0px;
    border-style:solid;
    border-color:#ccc;
    font-weight:bold;
}

.items_wrap > .menu_group_wrap > .menu_group > .tabs_wrap > .tab > li:not(:last-of-type) {
    width:140px;
    height:70%;
    padding:5px;
    font-size:20px;
    align-items:flex-end;
    text-align:center;
    cursor:pointer;
}

.items_wrap > .menu_group_wrap > .menu_group > .tabs_wrap > .tab > li:last-of-type {
    width: 90%;
    height: 70%;
}
.items_wrap > .menu_group_wrap > .menu_group > .tabs_wrap > .tab > .tab_not_select {
    border:0 !important;
    border-bottom: 2px solid #ccc !important;
    height:50% !important;
    font-size:16px !important;
}

/*검색옵션 리셋 버튼*/

.items_wrap > .menu_group_wrap > .menu_group > .reset_button {
    width: 40px;
    height: 40px;
    position:absolute;
    right:2px;
    top:0px;
}


/*검색옵션 선택 탭*/
.items_wrap > .menu_group_wrap > .menu_group{
    width:100%;
    height:auto;
    transition: all 0.2s;
    overflow: hidden;
}

/*검색 옵션*/
.items_wrap > .menu_group_wrap > .menu_group > ul {
    width:-webkit-calc(100%-2px);
    width:calc(100%-2px);
    height:auto;
    border-width: 0 2px 0px 2px;
    border-style:solid;
    border-color:#ccc;
    padding-top:10px;
}

.items_wrap > .menu_group_wrap > .menu_group > ul > li {
    width:100%;
    height: auto;
    display: flex;
    border-bottom:1px solid #ccc;
}

.items_wrap > .menu_group_wrap > .menu_group > ul > li:last-of-type{
    border-bottom:none;
}

.items_wrap > .menu_group_wrap > .menu_group > ul > li > h5 {
    width:15%;
    font-size:16px;
    font-weight:600;
    align-items: center;
    display: flex;
    padding-left:15px;
    background: rgba(226, 226, 226,0.3);
}


.items_wrap > .menu_group_wrap > .menu_group > ul > li > ul {
    padding-top:3px;
    width:100%;
    height: 100%;
    display:inline-flex;
    flex-wrap:wrap;
    align-items: center;
}

.items_wrap > .menu_group_wrap > .menu_group > ul > li > ul > li {
    width: 16%;
    text-align: center;
    border-right: 1px solid #ccc;
}

.items_wrap > .menu_group_wrap > .menu_group > ul > li > ul > hr {
    width: 100%;
    border:none;
}

.items_wrap > .menu_group_wrap > .menu_group > ul > li > ul > li:last-of-type, .items_wrap > .menu_group_wrap > .menu_group > ul > li > ul > hr:has(+next) {
    /*border-right: none;*/
}

.items_wrap > .menu_group_wrap > .menu_group > ul > li > ul > li >  span:hover {
    color: rgba(30, 73, 94, 0.90);
    cursor:pointer;
    font-weight:bold;
}
/*검색창*/

.items_wrap > .menu_group_wrap > .menu_group > .white_space{
    width:49%;
    height:50px;
    float:left;
    border-top:2px solid #ccc;
}

.items_wrap > .menu_group_wrap > .menu_group > .search_board_wrap {
    width:50%;
    height: 40px;
    padding:3px 0 3px;
    padding:3px 0 3px;
    padding-right: -webkit-calc(1% - 4px);
    padding-right: calc(1% - 4px);
    text-align: right;
    position:relative;
    float:left;
    border-width: 0 2px 2px 2px;
    border-style:solid;
    border-color:#ccc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


.items_wrap > .menu_group_wrap > .menu_group > .search_board_wrap > .search_options{
    width:20%;
    height: 40px;
    padding:5px;
    vertical-align: text-bottom;
    font-size:16px;
}

.items_wrap > .menu_group_wrap > .menu_group > .search_board_wrap > .search_board{
    width: 78%;
    height: 40px;
    padding:5px;
    padding-left:10px;
    padding-right:14%;
    margin: 0 auto;
    font-size:16px;
    vertical-align: text-bottom;
    border-radius: 3px;
    border-width: thin;
}

.items_wrap > .menu_group_wrap > .menu_group > .search_board_wrap > .search_button{
    width:60px;
    height: 40px;
    vertical-align: text-bottom;
    position:absolute;
    right: 1%;
    background-color:rgba(153, 153, 153, 0.4);
    border:0;
    outline: 0;
}

.items_wrap > .menu_group_wrap > .menu_group > .search_board_wrap > .search_button:hover{
    background-color:rgba(153, 153, 153, 0.8);
    outline: 0;
}


/* 디지몬 리스트 */
.digimon_list_wrap{
    margin-top:30px;
    width:100%;
    height:auto;
    border-top:1px solid black;
}

.digimon_list_wrap > ul{
    width: 100%;
    height:330px;
}

.digimon_list_wrap > ul > li:first-of-type{
    background-color: rgba(206, 206, 206, 0.4);
}

.digimon_list_wrap > ul > li{
    width:100%;
    height:5%;
    padding:5px 0;
    border-bottom:1px solid #ccc;
}

.digimon_list_wrap > ul > li > ul{
    display: flex;
    width: 100%;
    height: 100%;
}

.digimon_list_wrap > ul > li:first-of-type > ul > li{
    width:25%;
    height: 100%;
    text-align: center;
    font-size:16px;
    font-weight: bold;
}

.digimon_list_wrap > ul > li:not(:first-of-type) > ul > li{
    width:25%;
    height: 100%;
    text-align: center;
    font-size:14px;
}

.paging_wrap{
    width:100%;
    height:auto; 
    margin-top:40px;
}

.paging_wrap > ul{
    display:flex;
    align-items: center;
    justify-content: center;
}

.paging_wrap > ul > li {
    width:16px;
    height: 16px;
}

.paging_wrap > ul > li > a{
    font-size:14px;
}