/*���� �ʱ�ȭ*/
body, div, ul, li, dl, dd, body, ol, h1, h2, h3, h4, h5, h6, input, fieldset, legend, p, select, table, th, td, tr,
textarea, button, form, figure, figcaption { margin:0; padding:0; }

/*a ��ũ �ʱ�ȭ*/
a { color: #222; text-decoration: none; }
a:hover { color: #2698cb; }

/* ��Ʈ �ʱ�ȭ*/
body, input, textarea, select, button, table {
    font-family: HYGothic, 'Malgun Gothic', '��������', Dotum, '����', sans-serif: color: #222;
    font-size: 13px;
    line-height:1.5;
}

/*��Ʈ ��Ÿ�� �ʱ�ȭ*/
em, address {
    font-style: normal;
}

/*������ȣ �ʱ�ȭ*/
ul, li, ol {
    list-style:none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 13px;
    font-weight: normal;
}