#update_forums{
    margin-top : 40px;
}
.current_menu {
    margin-top:15px;
    margin-bottom:30px;
}

.current_menu > ul {
    display: flex;
}

.current_menu > ul >li{
    text-align: center;
    width:25%;
    border:1px solid #ccc;
    border-bottom-color: #000;
    border-bottom-width:2px;
    line-height:45px;
}

.current_menu > ul > li > h2 {
    font-size: 20px;
    font-weight:bold;
}

.update_forums > table {
    width:100%;
}   

.update_forums > table > caption{
    text-align: left;   
    border-bottom: 2px solid rgb(31, 31, 31);
    height:35px;
    padding-bottom:5px;
}
.update_forums > table > caption > h2{
    font-size: 25px;
    font-weight: bold;
}

.update_forums > table > thead > tr {
    height: 30px;
    background-color: rgba(192, 192, 192, 0.8);
}

.update_forums > table > thead > tr > th:nth-of-type(1){
    width:10%;
}
.update_forums > table > thead > tr > th:nth-of-type(2){
    width:60%;
}
.update_forums > table > thead > tr > th:nth-last-of-type(-n+2){
    width:15%;
}

.update_forums > table > tbody {
    border-collapse: collapse;
    text-align:center;
}

.update_forums > table > tbody > tr {
    height:25px;
}

.update_forums > table > tbody > tr:nth-of-type(2n){
    background-color: rgba(192, 192, 192, 0.5);
}

.update_forums > .paging {
    margin-top:50px;
    text-align: center;
}